/* my own classssssssssssssssssssssssssssssssss */
.own-div {
  background-color: #2d3436;
  color: silver;

}

.own-a {
  color: silver;
  margin: 10px;
  font-size: 20px;
}

.own-a:hover {
  color: red;
}

/* my own classssssssssssssssssssssssssssssssss */