body{
    background: rgba(0, 0, 0, 0.844);
    color: rgb(117, 116, 116);
}

a{
    color: silver;
    font-size: 30px;
    text-decoration: none;
    
}

.sss:hover{
    font-size: 31px;
    color: red;
    text-decoration: underline;
}