body {
  background-color: rgba(0, 0, 0, 0.844);
  color: white;
  margin: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.btn-block {
  padding: 10px;
  background-color: grey;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
  transition: 0.3s all;
}

.blue {
  background-color: blue;
  border-radius: 10px;
}

.red {
  background-color: red;
  border-radius: 10px;
}