* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 61, 61);
  color: white;
  margin: 30px;
}

.btn-block {
  padding: 10px;
  background-color: grey;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
  transition: 0.3s all;
}

.blue {
  background-color: blue;
  border-radius: 10px;
}

.red {
  background-color: red;
  border-radius: 20px;
}