body {
    background-color: rgb(28, 29, 25);
    color: silver;
}

a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}